.firstlogo img{
margin-left: auto;
margin-right: auto;
display: block;
}

.secondcolimg{
    background-color: rgb(226, 43, 198);
}

.secondcolimg a{
    text-decoration: none;
    margin-top: auto;
    margin-left: 50px;
    color: aliceblue;
}

.firstbox{
    background-color: rgb(19, 19, 64);
    padding-top: 150px;
    padding-bottom: 150px;
}

.firstbox h1{
    color: aliceblue;margin-top: 20px;
}

.firstbox h3{
    color: rgb(226, 43, 198);
}

.firstbox strong{
    color: aliceblue;
}

 .firstbox a{
    text-decoration: none;
    outline: none;
    color: rgb(226, 43, 198);
    background-color: aliceblue;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
   padding-left: 20px;
   padding-right: 20px;
    }

    .firstbox a:hover{
        background-color: rgb(226, 43, 198);
        color: aliceblue;
      }

    .box{
        display: block;
        margin-left: 50%;
    }

    .secondcol{
        text-align: center;
    }
    .text{
        margin-top: 100px;
    }

    .thirdcolimg img{
        margin-left: auto;
    margin-right: auto;
    display: block;
    }

    .readmore a{
    text-decoration: none;
    background-color: black;
    color: aliceblue;
    padding-top: 5px;
    padding-bottom: 5px;
   padding-left: 20px;
   padding-right: 20px;
    }

    .readmore{
     text-align: center;
    }

    .readmore a:hover{
        background-color: rgb(226, 43, 198);
    color: aliceblue;}

    .parttwo a{
        text-decoration: none;
        color:  rgb(226, 43, 198);
        background-color: aliceblue;
        padding-top: 5px;
        padding-bottom: 5px;
       padding-left: 20px;
       padding-right: 20px;
    }


    .parttwo a:hover{
        background-color:  rgb(226, 43, 198);
    color: aliceblue;}

    .boxtwo{
        display: block;
        margin-left: 30%;
    }


    .back{
        background-color: rgb(16, 16, 67);
    }


    .can{
        margin-right: 20%;
    }


    .boxtwo h2{
        color: aliceblue;
    } 

    .boxtwo p{
        display: inline-flex;
    border-radius: 50%;
    }

    .colortwo h2{
         color: rgb(226, 43, 198);
        }


    .boxtwo p{
        color: aliceblue;
    }

    .whatis{
        text-align: center;
    }

    .text-box{
        background: #fff;
        box-shadow: #ddd 0px 0px 10px -1px;
        margin-top: 13px;
    }
    

    .customer-box{
        background: #0c0f38;
        text-align: left;
        position: relative;
        padding: 0px 0px 44px 50px;
    }
    
    .veni{
        padding-top: 45px;
        display: inline-block;
    }

    .veni h4{
        display: inline;
        color: rgb(243, 243, 243);
    }

    .veni img{
        margin-top: 50px;
        margin-left: 20px;
    }

   .logo{
    margin-left: 50%;
   }

   .logo{
    padding-right: 10px;
    float: right;
}

    .last-one{
        text-align: center;
       
    }

    .last-foot{
        background-color: #ede5e5;
    margin-top: 100px;}
   
    .call h2{
        display: inline;
    }

    .email h2{
        display: inline;
    }

    .email{
        margin-right: auto;
    }

    .free{
        background-color: #0c0f38;
        text-align: center;
        display:block;
    }
    .free h3{
        margin-top: 50px;
        color: #fff;
        font-size: 37px;
        line-height: 55px;
        font-weight: bold;
        padding-bottom: 20px;
        display: block;
        font-family: 'Baloo Chettan', cursive;
    }
    
    .free p{
        font-size: 16px;
    }

    .all{
       text-align: center;
       margin-top: 20px;
    }