.first{
    background-image: url('../images/image-header.jpg');
    height: 80vh;
    background-size: cover;
    background-position: center;
}
.creatives{
    text-align: center;
margin-top: 30px;
font-size: 70px;
font-weight: bold;
font-family: 'Fraunces', serif;
font-weight: 900;
}


.arrow{
    margin-top: 100px;
}


h1{
    font-size: 46px;
    color: #23303B;
    margin-bottom: 30px;
    font-family: 'Fraunces',serif;
    font-weight: 900;
}

.box{
    padding: 200px;
}
.box h1{
    font-size: 46px;
    color: #23303B;
    margin-bottom: 30px;
}
.box p{
    color: #86858B;
    margin-bottom: 25px;}



.transform img{
    width: 100%  
}

.standout img{
    width: 100%;
}

.graphic-design{
background-image:url(/images/image-graphic-design.jpg);
background-size: cover;
background-position: center;
}

 .photography{
    background-image: url(/images/image-photography.jpg);
background-position: center;
background-position: center;
}
 
 .emily img{
    border-radius: 50%;
    margin-top: 30%;
    width: 100px;
    margin-left: 200px;
}

.thomas img{
    border-radius: 50%;
    margin-top: 30%;
    width: 100px;
    margin-left: 200px;
}


.jennie img{
    border-radius: 50%;
    margin-top: 30%;
    width: 100px;
    margin-left: 200px;
}

.bb{
    padding-left: 100px;
padding-right: 80px;
}

h3{
    margin-left: 200px;
    margin-top: 80px;
    }


h5{
    margin-left: 170px;

}

.nav{
    margin-top: 50px;
}

.nospace>[class*='col-']
{
    padding-right: 0px;
    padding-left: 0px;
}

.text{margin-top: 50px;}

.button a{
text-decoration: none;
text-transform: uppercase;
font-family: 'Fraunces', serif;
color: black;
background-color: white;
padding: 14px 25px;
border-radius: 35px;
font-size: 14px;
transition: all 0.2s ease;
}

.button a:hover {
    background-color: rgb(112, 220, 253);
    color: aliceblue;
  }

  .nav-bar p{
        font-size: 27px;
        font-family: sans-serif;
        color: rgb(255, 251, 251);
    }

   .footer{background-color: aquamarine;
}



