html, body{
    max-width: 100%;
    overflow-x: hidden;
}

.heading{
    color:black;
    font-size:70px;
}

.lorem p{
    margin-top: 50px;
}

.button{
    margin-bottom: auto;
}

.arrowone img{
    background-color: black;
    margin-right: auto;
}

.arrowtwo{
    text-align: right;
   
}

.arrowtwo img{
    background-color: black;
}
