body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./img/domino-164_6wVEHfI-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #E53935;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

header h1 {
    float: left;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffc107;
    background-color: rgb(0, 7, 7);
    border-radius: 10px;
    
}

.banner {
    text-align:left;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.banner h2 {
    font-size: 70px;
    margin-bottom: 20px;
    color: #d4ff00;
}
.banner p{
    color: beige;
}
.banner a:hover{
    color: #d4ff00;
    color: #E53935;   
}
.banner a{
    color: #fff;
    background-color: black;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #ffc107;
}

.featured {
    margin-top: 50px;
    text-align: center;
}

.featured h2 {
    font-size: 32px;
    color: #fff;
}

.fp{
    color: #fff;
    border-radius: 15px;
    text-align: center;
    background-color: #242810;
    margin-top: 30px;
}
.fp h2:hover{
  color: #ffc107;
}
.featured p{
    background-color: rgb(124, 62, 12);
    color: #fff;
}

.product {
    display: inline-block;
    margin: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    width: 200px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
}
